body{
    background-image: url(images/bg6.jpg);
    font-family: 'Julius Sans One', sans-serif,'Noto Sans TC', sans-serif;
}

.layer{
    width: 1140px;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 15px;
    height: 610px;
    
}
.sec1{
    margin-top: 100px;
    
}

h2{
    color: aliceblue;
}

p{
    color: aliceblue;
    border-radius: 15px;
    font-size: 17px;
    
}

img{
    width: 200px;
    margin-bottom: 10px;
    
}

span a:hover{
    filter: drop-shadow(7px 7px 7px rgb(102, 125, 160));
}